.wrapperClassName {
  height: calc(100vh / 2.2);
}

.toolbarClassName {
  height: 25%;
}

.editorClassName {
  height: 70%;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.editorEmptyClassName {
  border-radius: 5px;
  border: 1px solid red;
}

.DraftEditor-root {
  margin-top: -15px;
}

.step-wizard-wrapper,
.rsw_2Y,
.rsw_2f {
  width: 100%;
  height: 100%;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}
