.wrapperClassName {
  height: 350px;
}

.toolbarClassName {
  height: 25%;
}

.editorClassName {
  height: 75%;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.DraftEditor-root {
  margin-top: -15px;
}
