@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-quill/dist/quill.snow.css';
@import './assets/css/header.css';
@import 'rsuite/styles/index.less';

/* .rsw_3G {
  height: 100%;
}

.ql-toolbar {
  height: 12%;
}

.ql-container {
  height: 88%;
} */
